
  .single-contact-information {
    position: relative;
    z-index: 1;
   }
    .single-contact-information h6 {
      font-size: 14px;
      display: inline-block;
      color: #ee002d; }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form-area {
      margin-bottom: 80px; } }
  @media only screen and (max-width: 767px) {
    .contact-form-area {
      margin-bottom: 80px; } }
  .contact-form-area .form-control {
    height: 45px;
    width: 100%;
    background-color: #f3f5f8;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    .contact-form-area .form-control:focus {
      box-shadow: none; }
  .contact-form-area textarea.form-control {
    height: 200px;
    padding: 15px 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
  
  .contact-area {
    position: relative;
    z-index: 1; 
  margin-bottom: 30px}
    .contact-area .contact-title h2 {
      font-size: 40px;
      color: #393939;
      margin-bottom: 80px; 
      text-align: center;
}
      @media only screen and (max-width: 767px) {
        .contact-area .contact-title h2 {
          font-size: 30px; } }